<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Redirecting</title>
  <noscript>
    <meta http-equiv="refresh" content="1; url=../../../../3.6/examples/templates/create_template_restriction/" />
  </noscript>
  <script>
    window.location.replace(
      "../../../../3.6/examples/templates/create_template_restriction/" + window.location.search + window.location.hash
    );
  </script>
</head>
<body>
  Redirecting to <a href="../../../../3.6/examples/templates/create_template_restriction/">../../../../3.6/examples/templates/create_template_restriction/</a>...
</body>
</html>
