<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Redirecting</title>
  <noscript>
    <meta http-equiv="refresh" content="1; url=../../../../0.0/data-types/templates/TemplateRestrictionCreateResponse/" />
  </noscript>
  <script>
    window.location.replace(
      "../../../../0.0/data-types/templates/TemplateRestrictionCreateResponse/" + window.location.search + window.location.hash
    );
  </script>
</head>
<body>
  Redirecting to <a href="../../../../0.0/data-types/templates/TemplateRestrictionCreateResponse/">../../../../0.0/data-types/templates/TemplateRestrictionCreateResponse/</a>...
</body>
</html>
